.Title {
  text-align: center;
}

/* nav bar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #156082;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #0f455e;
}

/* home */
.home_content {
  padding-left: 4%;
  padding-top: 10%;
}

.home_content p {
  font-size: x-large;
}

/* profile */
.user_profile {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.profile_pic {
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.profile_content h2,
.profile_content p {
    margin: 0;
    font-size: x-large;
}

.leaderboard {
  padding-left: 20px;
}

.leaderboard table {
  width: 30%;
  font-size: large;
}

/* flashcards */
.flashcard_box {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  outline: 2px solid black;
  font-size: large;
} 

.flashcard_content {
  padding-top: 2%;
}

.flashcard_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}