<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Register</title>
</head>
<body>
    <h3>Create an account</h3>
    <form method="post">
        <label for="username">Username </label>
        <input type="text" name="username" required>
        <br><br>
        <label for="fullName">Full name </label>
        <input type="text" name="fullName" required>
        <br><br>
        <label for="email">Email </label>
        <input type="email" name="email" required>
        <br><br>
        <label for="password">Password </label>
        <input type="password" name="password" required>
        <br><br>
        <label for="confirmPass">Confirm password </label>
        <input type="password" name="confirmPass" required>
        <br><br>        
        <input type="submit" name="signup" required>
    </form>
</body>
</html>