<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Select a subject</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('videos') }}">Videos</a></li>
            <li><a href="{{ url_for('resources') }}">Reasources</a></li>
            <li><a href="{{ url_for('games') }}">Games</a></li>
            <li style="float: right;"><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>  
    </div>

    <h1 class="Title">Choose a topic to see related material</h1>

    <ul>
        <li><a href="{{ url_for('maths_vids') }}">Maths</a></li>
        <li><a href="{{ url_for('english_vids') }}">English</a></li>
        <li><a href="{{ url_for('science_vids') }}">Science</a></li>
        <li><a href="{{ url_for('history_vids') }}">History</a></li>
        <li><a href="{{ url_for('geography_vids') }}">Geography</a></li>
        <li><a href="{{ url_for('music_vids') }}">Music</a></li>
    </ul>

</body>
</html>